.git
node_modules
vendor
npm-debug.log*
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-*
Dockerfile
.dockerignore
